{% extends "layout.html" %}
{% block content %}
    {% for row in joined_m_n %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
             <!--<a class="mr-2" href="#">{{ row }}</a>	 -->
              <small class="text-muted">Employee name: {{ row['fname'] }} {{ row['lname'] }}, Project Name: {{ row['pname'] }}</small>		  
            </div>
			<h2><a class="article-title" href="{{ url_for('assign', essn=row.ssn, pno=row.pno) }}">Employee SSN: {{ row['ssn'] }}<br>Project Number: {{ row['pno'] }}</a></h2>
          </div>
        </article>
     {% endfor %}
{% endblock content %}